<!DOCTYPE html>
<html>
<head>
  <title>Bella Luna</title>
  <meta name="title" content="Bella Luna" />
  <meta description="description" content="Bella Luna is an authentic Italian restaurant in downtown Knoxville that serves seasonally-prepared dishes made from the freshest local ingredients." />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <link href="http://fonts.googleapis.com/css?family=Bangers|Architects Daughter|Cabin|Architects Daughter|Anonymous Pro" rel="stylesheet" type="text/css">
  <%= render 'layouts/ga' %>
</head>
<body>

<%= yield %>

</body>
</html>
